<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>RPG Manager</title>
</head>
<body>
    <div id="login_box">
        <div id="img_logo"><img src="assets/cartoon_style_dice.jpg" alt="Logo Aplicativo" width="250vh" height="250vh" ></div>
        <div id="area_formulario">
            <form id="formulario" autocomplete="off"> 

                <input class="campo_email" type="text" placeholder="E-mail"><br>
                <input class="campo_senha" type="password" placeholder="Senha"><br>

                <input class="btn_submit" type="submit" value="Entrar">
                
                <p id="cadastrar">
                    <a href="cadastro.html">Não tem uma conta? Cadastre-se agora!</a>
                </p>  
            </form>
        </div>
    </div>
    <script src="script.js"></script>
    <noscript>Você precisa habilitar o JavaScript para visualizar o site por completo</noscript>
</body>
</html>